/*NAVBAR*/


:root{
  --color-dark4 :#1c1c1c;
  --color-text  :#000000;
  --color-header:#ffffff;
  --color-select:#eee6e6;
  --color-select:#eee6e6;
  --color-input: #6771f7;
  --degrade: linear-gradient(to right, #0026ff, #2bff00, #e5ff00 );
}

@media screen and (max-width: 768px) {

  .icone{
  position: absolute;
  left: 35%;
 
  }
  
.menu{
   transform: translateX(-180%);
}
}


/*MENU*/
body{
padding-top:70px ;

}

.header{
display: flex !important;
align-items: center !important;
position: fixed !important;
z-index: 20;
background-color: var(--color-header);
width: 100%;/*   box-shadow: 1px 1px 4px var(--color-dark4);   */
height: 8vh;
margin-bottom: 10%;
top: 0;
left: 0;
}

.navigation_header{
display: inline-flex;
margin-right: 4%;
gap: 1em;
position: absolute;
right: 0;
}

.navigation_header a{
text-decoration: none;
color: var(--color-4);
font-weight: bold;
}

.menu_bar img{
width: 55px;
cursor: pointer;
margin-left: 50px;
background-color: transparent;
border-radius: 10px;
transition: 0.3s;
}

.menu_bar img:hover{
background-color: var(--color-select);
}

.icone{
position: absolute;
justify-content: center;
left: 50%;
transform: translateX(-50%);
}

.menu a{
text-decoration: none;
color: var(--text)
}

.menu{
background-color: var(--color-header);
position: fixed;
height: 100%;
top: 9vh;
bottom: 9vh;
width: 14.5%;
box-shadow: 0px 0px 0px var(--color-dark4);
transform: translate(-100%);
z-index: 10;
}

.menu.active{
transform: translate(0%);
transition: transform 0.3s ease-in;
}

.menu li a{
margin-left: 25px;
display: inline-block;
list-style: none;
font-size: 20px;
padding: 20 20px;
padding: 15px 20px;
border-radius: 20px;
margin-top: 30px;
background-color: transparent;
transition: 0.3s;
}

.menu li a:hover{
  background-color: var(--color-select);
  border-radius: 20px;  
  color: #000000;
  text-decoration: none;
  
}

.active2{
background-color: var(--color-select);
border-radius: 20px;
}

.icone img{
height: 50px;

}

* li
{
list-style: none !important;
text-decoration: none !important;
transition: 0.5;
}/*Tira os pontinhos no li*/

.matricula{
background-color: #0083C3;
border: solid 8px !important;
color: #0083C3;
border-radius: 10px !important;
}

.matricula a{
color: #ffffff;
}

.login {
border: solid #0083C3;;
border-radius: 10px;
padding: 6px 9px;
}

.login a:hover{
color: #000000;
text-decoration: none;
}
.matricula a:hover{
color: #ffffff;
text-decoration: none;
}

*{
box-sizing: content-box !important; /*JAMAIS RETIRAR!!!!*/
}

/*CONTEUDO*/
.bloco01{
  text-align: center;
  justify-content: center;
  font-family: Teko, sans-serif;
  font-weight: bold;
  font-size: 55px;
  margin-bottom: 1%;
}

/*CARDS*/
.row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    border-radius: 15px;
    box-shadow: 7px 7px 7px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 300px;
    transition: all 0.3s ease-out;
  }
  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   .card h2{
    font-family: Teko, sans-serif;
    font-size: 35px;
    text-align: center;
   }
  .card p {
    color: #a3a5ae;
    font-size: 20px;
    font-family: Barlow, sans-serif;
    font-weight: bold;
  }
   
  .image {
    float: right;
    max-width: 64px;
    max-height: 64px;
  }
  .blue {
    border-left: 10px solid #0083c3;
  }
   
  .orange {
    border-left: 10px solid #f39200;
  }
  a{
    text-decoration:none black;
  } 

  /*FOOTER*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
footer{
    background-color: #0083C3;
  
}
.container-footer{
    max-width: 1400px;
    padding: 0px;
    margin:auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
  margin-left: auto;
}

.footer-col{
    width: 25%;
    padding: 15px;
    
    
}
.footer-col h4{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    font-family: Teko, sans-serif;
}
.footer-col ul{
    list-style:none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    font-family: Barlow, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a li{
    font-size: 20px;
   
}

.footer-col .medias-socias a:hover{
    color: #0083C3;
    background-color: white;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color:#0083C3;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #0083C3;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}
.direitos p{
  justify-content: center;
  text-align: center;
  color:#ffffff;
  font-family: Barlow, sans-serif;
  font-size: large;
}
.direitos strong{
  font-family: Barlow, sans-serif;
  font-size: large;
}
/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}